{% load static %}
{% load i18n %}

<footer class="footer">
    <div class="container">
		{# Translators: Text label on footer #}
      <p class="text-muted">{% trans 'Place sticky footer content here.' %}</p>
    </div>
</footer>