{% load static %}

<!-- Bootstrap core JavaScript
================================================== -->
<script src="{% static 'js/jquery/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/bootstrap/ie10-viewport-bug-workaround.js' %}"></script>
<!-- AngularJS -->
<script src="{% static 'js/angular/angular.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize/angular-sanitize.js' %}"></script>
<script src="{% static 'js/angular-resource/angular-resource.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controllers.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>