{% load static %}
{% load i18n %}
{% load menu_tag %}

<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">{% trans 'Toggle navigation' %}</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"><img src="{% static 'image/logo-nirvaris.png' %}" /></a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
		{% menu_tag user %}
	</div><!--/.nav-collapse -->
</div>
