{% load static %}
{% load theme_meta_data_tags %}

<!DOCTYPE html>
<html lang="en" ng-app="nirvarisApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% meta_data meta_data_locals %}
	<!-- icon -->
	<link rel="icon" href="{% static 'image/favicon.png' %}">

    <title>{% theme_title title %}</title>

    {% include 'theme-head-css.html' %}

		{% block head_css %}
		{% endblock %}

		{% include 'theme-head-javascript.html' %}

</head>
<body class="{% block body_class %}{% endblock %}" ng-controller="nirvarisCtrl">
	<nav class="navbar navbar-default navbar-fixed-top">
		{% include 'theme-navbar.html' %}
	</nav>
	<!-- End .navbar -->

	<section class="content">
		<div class="container">
			{% block content %}
			{% endblock %}

		</div>
	</section>
	<!-- End .content -->

	{% include 'theme-footer.html' %}
	<!-- End footer -->

	{% block page_javascript %}
	{% endblock %}

	{% micro_data %}
</body>
</html>
